[include]
	path = ~/.gitconfig.local

[alias]
	lg      = log --color --graph --pretty=format:'%C(bold cyan)%h%Creset - %C(bold blue)(%cr)%Creset %s %C(dim white)- %an%Creset%C(auto)%d%Creset'

	c       = checkout
	co      = checkout

	s       = status --short --branch --untracked-files=no
	st      = status --short --branch --untracked-files=no

	sa      = status --short --branch --untracked-files=normal
	sta     = status --short --branch --untracked-files=normal
	stat    = status --short --branch --untracked-files=normal
	stata   = status --short --branch --untracked-files=normal --ignored=traditional
	statall = status --short --branch --untracked-files=normal --ignored=traditional

	cm      = commit
	amend   = commit --amend --no-edit

	pick    = cherry-pick
	ff      = merge --ff-only
	pff     = pull --ff-only
	b       = branch -vv
	ba      = branch -avv

	abort    = rebase --abort
	continue = rebase --continue
	skip     = rebase --skip
